{
  "sources": [
    {
      "id": "crocdb",
      "version": "1.3.0",
      "downloadUrl": "https://raw.githubusercontent.com/mccoy88f/Tottodrillo-Source/refs/heads/main/crocdb-source.zip",
      "changelog": "Bug fixes and performance improvements",
      "minAppVersion": "2.5.0",
      "releaseDate": "2024-01-15"
    },
    {
      "id": "switchroms",
      "version": "1.1.0",
      "downloadUrl": "https://raw.githubusercontent.com/mccoy88f/Tottodrillo-Source/refs/heads/main/switchroms-source.zip",
      "changelog": "Updated API endpoints",
      "minAppVersion": "2.5.0",
      "releaseDate": "2024-01-10"
    },
    {
      "id": "vimms",
      "version": "1.0.5",
      "downloadUrl": "https://raw.githubusercontent.com/mccoy88f/Tottodrillo-Source/refs/heads/main/vimms-source.zip",
      "changelog": "Fixed download links parsing",
      "minAppVersion": "2.5.0",
      "releaseDate": "2024-01-08"
    }
  ]
}

